button {
    width: 150px;
    height: 75px;
    background: lightcoral;
    font-size: 48px;
    color: aliceblue;
    cursor: pointer;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin-left: 400px;
  }
  
  /* animation class */
  .row > div {
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    background-color: red;
    width: 200px;
    height: 100px;
  }
  
  .buttons {
    display: flex;
    width: 100px;
    justify-content: space-between;
    margin-left: 450px;
    margin-top: 50px;
  }
  
  .circles {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50px;
    background-color: aqua;
  }