.App {
  text-align: center;
  width: 1000px;
  height: 1000px;
  margin-left: 500px;
}

button {
  width: 150px;
  height: 75px;
  background: lightcoral;
  font-size: 48px;
  color: aliceblue;
  cursor: pointer;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin-left: 200px;
}

/* animation class */
.row > div {
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
